/*=========================
IMPORTANT: Color Code
===========================
[color]-100: [color] very light, close to white.
[color]-200: [color] light, slightly darker than [color]-100.
[color]-300: [color] light-medium, an intermediate shade.
[color]-400: [color] medium, neither light nor dark, balanced.
[color]-500: [color] neutral, base tone balanced between light and dark.
[color]-600: [color] slightly dark, deeper than [color]-500.
[color]-700: [color] dark, close to the final tone.
[color]-800: [color] very dark, almost black.
[color]-900: [color] almost black, the darkest tone available.
=========================*/

:root {
    /* Gray tones (white - black) */
    --color-white: #ffffff;
    --color-gray-100: #E5E5E5;
    --color-gray-200: #D9D9D9; /* color for links, currently not in use */
    --color-gray-900: #262626;

    /* Blue tones (light - dark) */
    --color-blue-100: #ECF0F3;

    --color-blue-400: #3785eb;
    --color-blue-500: #1A73E8;
    --color-blue-600: #636970;
    
    --color-blue-700: #2F3740;
    --color-blue-800: #232A33;

    /* Other colors */
    --color-purple-200: #a9b2fc;
    --color-purple-500: #6F7FFA;


    --color-red-300: #E57373;
    --color-yellow-300: #FFF59D;
    --color-green-300: #81C784;

    font-family: 'Inter', sans-serif;
}